ss-navegadores-suportados {
    .titulo-navegadores {
        margin-top: 60px;
        font-weight: bold;
        font-size: 10pt;
    }

    ion-icon {
        margin-right: 2.5px;
        margin-left: 2.5px;
        font-size: 14pt;
    }

    .cor-inativo {
        color: #999;
    }
}