page-landing {
	.banner {
		width: 100%;
		font-weight: bold;
		font-size: calc(14px + 3.8vw);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.demo {
		margin-top: 60px;
	}
	
	@media (min-width: 300px) {
		.banner {
			padding: 180px 0 60px 0;
			background-image: url('../assets/img/banner-mobile.png');
		}

		.demo iframe {
			width: 300px;
			height: 220px;
		}
	}

	@media (min-width: 901px) and (orientation: landscape) {
		.banner {
			padding: 120px 0 60px 0;
			background-image: url('../assets/img/banner.png');
		}

		.demo iframe {
			width: 640px;
			height: 480px;
		}
	}

	.banner p {
		margin: 15px;
	}
	.funcionalidades {
		text-align: center;
		padding: 40px 0 40px 0;
	}
	.funcionalidade {
		border-radius: 115px;
		width: 231px;
		height:231px;
		background: radial-gradient(closest-side at 60% 40%,white 35%, #347f0c 200%);
		padding: 20px;
		display: inline-table;
		margin: 10px;
	}
	.funcionalidade ion-icon {
		font-size: 32pt;
		font-weight: bold;
	}
	.funcionalidades .titulo, .funcionalidade .titulo, .faixa .titulo, .faixa-sem-margem-superior .titulo, .menu .logo p {
		font-size: 16pt;
		font-weight: bold;
	}
	.funcionalidade .texto {
		font-size: 11pt;
	}

	.faixa {
		text-align: center;
		padding: 200px 0 200px 0;
	}

	.faixa-sem-margem-superior {
		text-align: center;
		padding: 0 0 200px 0;
	}

	.faixa .texto, .faixa-sem-margem-superior .texto {
		font-size: 12pt;
		margin: 10px;
		text-align: center;
	}
	.faixa .texto-observacao {
		font-size: 8pt;
		margin: 10px;
		text-align: center;
	}
	.faixa .links {
		font-size: 16pt;
		margin: 20px;
	}
	.faixa span {
		padding: 0 5px 0 5px;
	}

	.atencao {
		border-radius: 30px;
		font-size: 10pt;
		padding: 15px;
		text-align: justify;
	}

	.faixa .titulo, .faixa-sem-margem-superior .titulo, .funcionalidades > .titulo {
		margin-bottom: 40px;
	}
}
