pagina-estatistica {

	ion-select {
		max-width: 60% !important;
		padding: 0 2.5px 0 0 !important;
	}

	ion-icon {
		min-height: 0;
	}

	ion-label {
		white-space: normal;
	}

	.alinha-texto-esquerda {
		padding: 0 0 0 10px;
		text-align: left;
	}

	.matriz_de_dezenas_megasena, 
	.matriz_de_dezenas_quina, 
	.matriz_de_dezenas_lotomania, 
	.matriz_de_dezenas_timemania, 
	.matriz_de_dezenas_duplasena, 
	.matriz_de_dezenas_diadesorte {
		max-width: 350px;
	}

	.matriz_de_dezenas_lotofacil {
		max-width: 175px;
	}

	.botao-da-matriz-dezenas {
		border-radius: 15px;
		width: 31px;
		height: 31px;
	}

	th, td {
		text-align: center;
	}

	tr:nth-child(even){
		background-color: #eee
	}

	tr:hover {
		background-color: #ccc
	}
}
