// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

// primary: Violet
// secondary: Gold
$colors: (
  primary:    #4b0069,
  secondary:  #FFD700,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

// .toolbar, .show-navbar > .toolbar-background{
//     background: #FFD700; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient(left, #FFD700 10%, #551A8B); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(right, #FFD700 10%, #551A8B); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(right, #FFD700 10%, #551A8B); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(to right, #FFD700 60%, #551A8B); /* Standard syntax */
// }
// .toolbar, .show-navbar > .toolbar-background{
//     background: #FFD700; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient(left, #7D26CD 10%, #7D26CD); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(right, #7D26CD 10%, #7D26CD); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(right, #7D26CD 10%, #7D26CD); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(to right, #7D26CD 60%, #7D26CD); /* Standard syntax */
// }

// .toolbar-title {
//     color: #ffffff !important;
// }
.toolbar-title, img {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}
/*              escuro		claro
lotofacil		#930089		#c87fc3
megasena		#209869		#8fcbb3
quina			#260085		#927fc1
lotomania		#f78100		#fabf7f
duplasena		#a61324		#d28891
timemania		#02ff02		#99ff99
*/

// Lotofácil
.backgroundEscuroLotofacil {
    background-color: #930089 !important;
}
.backgroundClaroLotofacil {
    background-color: #c87fc3 !important;
}
.colorEscuroLotofacil {
    color: #930089 !important;
}
.colorClaroLotofacil {
    color: #c87fc3 !important;
}

// Mega Sena
.backgroundEscuroMegaSena {
    background-color: #209869 !important;
}
.backgroundClaroMegaSena {
    background-color: #8fcbb3 !important;
}
.colorEscuroMegaSena {
    color: #209869 !important;
}
.colorClaroMegaSena {
    color: #8fcbb3 !important;
}

// Quina
.backgroundEscuroQuina {
    background-color: #260085 !important;
}
.backgroundClaroQuina {
    background-color: #927fc1 !important;
}
.colorEscuroQuina {
    color: #260085 !important;
}
.colorClaroQuina {
    color: #927fc1 !important;
}

// Lotomania
.backgroundEscuroLotomania {
    background-color: #f78100 !important;
}
.backgroundClaroLotomania {
    background-color: #fabf7f !important;
}
.colorEscuroLotomania {
    color: #f78100 !important;
}
.colorClaroLotomania {
    color: #fabf7f !important;
}

// Dupla Sena
.backgroundEscuroDuplaSena {
    background-color: #a61324 !important;
}
.backgroundClaroDuplaSena {
    background-color: #d28891 !important;
}
.colorEscuroDuplaSena {
    color: #a61324 !important;
}
.colorClaroDuplaSena {
    color: #d28891 !important;
}

//Timemania
.backgroundEscuroTimemania {
    background-color: #02ff02 !important;
}
.backgroundClaroTimemania {
    background-color: #99ff99 !important;
}
.colorEscuroTimemania {
    color: #02ff02 !important;
}
.colorClaroTimemania {
    color: #99ff99 !important;
}
