page-contato {
	.larguraTotal {
		width: 100%;
	}

	.cor-texto {
		color: #444;
	}
	
	.texto {
		font-size: 11pt !important;
	}

	p {
		padding: 10px 0 20px 0 !important;
		margin: 0;
	}

	.botaoVC {
		width: 133px;
	}
}
