<ion-menu id="menuPaginas" [content]="conteudoDoMenu">
    <ion-toolbar secondary>
        <ion-title>O que desejas?</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <button id="btSelecioneLoteria" ion-item (click)="ativeMenuLoterias()" detail-none>
                <ion-avatar item-left>
                    <img src="{{caminhoDoIconeAvatarDaLoteriaSelecionada}}">
                </ion-avatar>
                <h2>{{loteriaSelecionada}}</h2>
            </button>

            <button [attr.id]="'bt'+pagina.id" ion-item *ngFor="#pagina of paginas" (click)="abraAPagina(pagina)">
                {{pagina.titulo}}
            </button>

            <ion-list-header style="background-color: #eee9e9"></ion-list-header>
            <!-- FIXME Alterar para a tela de login, quando for implementada -->
            <button id="btSair" ion-item (click)="abraAPaginaBemVindo()" detail-none>
                <ion-icon name="exit" item-left></ion-icon>
                <h2>Sair</h2>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-menu id="menuLoterias" [content]="conteudoDoMenu">
    <ion-toolbar danger>
        <ion-title>Escolha sua loteria</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <!-- itera a propriedade Array loterias, criada no construtor -->
            <button [attr.id]="'bt'+loteria.id" ion-item *ngFor="#loteria of loterias" (click)="ativeMenuPaginas(loteria.nome, loteria.caminhoDoIconeAvatar)">
                <ion-avatar item-left>
                    <img src="{{loteria.caminhoDoIconeAvatar}}">
                </ion-avatar>
                <h2>{{loteria.nome}}</h2>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="paginaInicial" #conteudoDoMenu swipe-back-enabled="false"></ion-nav>
