<!-- <ss-estatistica 
	(cbxExtensaoDaFaixaDeConcursosAtualizeOutput)="cbxExtensaoDaFaixaDeConcursosAtualize($event)"
	(rgeFaixaDeConcursosAtualizeOutput)="rgeFaixaDeConcursosAtualize($event)"
	(rgeDesloqueParaEsquerdaOutput)="rgeDesloqueParaEsquerda($event)"
	(rgeDesloqueParaDireitaOutput)="rgeDesloqueParaDireita($event)"
	(rgeDesloqueParaEsquerdaEFCOutput)="rgeDesloqueParaEsquerdaEFC($event)"
	(rgeDesloqueParaDireitaEFCOutput)="rgeDesloqueParaDireitaEFC($event)"
	(toggleMostreMaisEstatisticasOutput)="toggleMostreMaisEstatisticas($event)"
	(atualizeOGraficoOutput)="atualizeOGrafico($event)"
	(selecioneDezenaOutput)="selecioneDezena($event)"></ss-estatistica> -->
	<ss-estatistica 
	(cbxExtensaoDaFaixaDeConcursosAtualizeOutput)="cbxExtensaoDaFaixaDeConcursosAtualize($event)"
	(rgeFaixaDeConcursosAtualizeOutput)="rgeFaixaDeConcursosAtualize($event)"
	(rgeDesloqueParaEsquerdaOutput)="rgeDesloqueParaEsquerda($event)"
	(rgeDesloqueParaDireitaOutput)="rgeDesloqueParaDireita($event)"
	(rgeDesloqueParaEsquerdaEFCOutput)="rgeDesloqueParaEsquerdaEFC($event)"
	(rgeDesloqueParaDireitaEFCOutput)="rgeDesloqueParaDireitaEFC($event)"
	(toggleMostreMaisEstatisticasOutput)="toggleMostreMaisEstatisticas($event)"
	(atualizeOGraficoOutput)="atualizeOGrafico($event)"></ss-estatistica>

<div [ngClass]="['matriz_de_dezenas_'+ sufixoCssLoteria, 'margem-automatica']">
	<button ion-button [ngClass]="{dezena_destacada: destaqueDezena(dezena)}" class="botao-da-matriz-dezenas" [attr.id]="'bt'+ dezena" *ngFor="let dezena of dezenas; let iDezena = index" (click)="selecioneDezena(iDezena, rdSorteios)" [title]="'Botão Dezena '+ dezena +' - pressione para exibir a frequência da dezena '+ dezena +' no gráfico'">
		{{dezena}}
	</button>
</div>
<!-- 
<div class="espaco_vertical"></div>

<div class="margem-automatica centralizar-texto">
	<button ion-button id="btnAtualizarOGrafico" (click)="atualizeOGrafico(rdSorteios)">
		Atualizar o Gráfico
	</button>
</div> -->

<div class="espaco_vertical"></div>

<div class="select-largura-maxima margem-automatica">
	<ion-list>
		<ion-item class="fundo-componente">
			<ion-label color="primary">Mais estatísticas</ion-label>
			<ion-toggle (ionChange)="toggleMostreMaisEstatisticas($event)" title="Botão Exibir ou ocultar Mais Estatísticas"></ion-toggle>
		</ion-item>
	</ion-list>
</div>

<div *ngIf="toggleMostrarMaisEstatisticasChecked">
	<ion-list>
		<ion-list-header color="cabecalho">
			<strong [ngClass]="'titulo'">Frequência das dezenas<span *ngIf="isDuplasena"> do sorteio {{rdSorteios + 1}}</span></strong>
		</ion-list-header>
		
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4>
						<div class="container-tabela margem-automatica">
							<!-- <p-table [columns]="cols" [value]="frequenciasSorteio" [paginator]="true" [rows]="15" [responsive]="true" sortField="ausenciaTotal" [style]="{'max-width':'880px','margin':'0 auto'}">
								<ng-template pTemplate="header" let-colunas>
									<tr>
										<th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.campo">
											{{coluna.nome}}
											<p-sortIcon [field]="coluna.campo"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-colunas="columns">
									<tr>
										<td *ngFor="let coluna of colunas">
											<span class="ui-column-title">{{coluna.nome}}</span>
											{{rowData[coluna.campo]}}
										</td>
									</tr>
								</ng-template>
							</p-table> -->
							<p-dataView #dv [value]="frequenciasSorteio" [paginator]="true" [rows]="15" paginatorPosition="both" filterBy="dezena" [sortField]="sortField" [sortOrder]="sortOrder" title="Cartões Frequência das dezenas">
								<p-header>
									<div [ngClass]="['caption-data-view','cor-primaria']">Frequência das dezenas entre o concurso:<br>{{numeroDoConcursoInicial}} até {{numeroDoConcursoFinal}}</div>
									<div class="ui-helper-clearfix">
										<div class="ui-g">
											<div class="ui-g-12">
												<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordene por" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'230px'}" title="Caixa de seleção de Tipo de Ordenamento"></p-dropdown>
											</div>
											<div class="ui-g-6 filter-container">
												<div style="position:relative">
													<input type="search" pInputText placeholder="Pesquise dezena" (keyup)="dv.filter($event.target.value)" style="width:140px" title="Campo de pesquisa de dezena">
												</div>
											</div>
										</div>
									</div>
								</p-header>
								<ng-template let-rowData pTemplate="listItem">
									<div class="ui-g" style="padding: 10px;border-bottom: 1px solid #d9d9d9">
										<div [ngClass]="['matriz_de_dezenas_'+ sufixoCssLoteria]" class="ui-g-12 ui-md-3" style="text-align:center;font-size: 14px">
											<button ion-button class="botao-da-matriz-dezenas" [attr.id]="'bt'+ rowData.dezena">
												{{rowData.dezena}}
											</button>
										</div>
										<div class="ui-g-12 ui-md-8">
											<div class="ui-g">
												<div class="ui-g-9 ui-sm-9">Dezena: </div>
												<div class="ui-g-3 ui-sm-3"><b>{{rowData.dezena}}</b></div>
							
												<div class="ui-g-9 ui-sm-9">Frequência total: </div>
												<div class="ui-g-3 ui-sm-3"><b>{{rowData.frequenciaTotal}}</b></div>

												<div class="ui-g-9 ui-sm-9">Ausência total: </div>
												<div class="ui-g-3 ui-sm-3"><b>{{rowData.ausenciaTotal}}</b></div>
							
												<div class="ui-g-9 ui-sm-9">Últimas frequências: </div>
												<div class="ui-g-3 ui-sm-3"><b>{{rowData.acumuloRemanescente}}</b></div>
							
												<div class="ui-g-9 ui-sm-9">Últimas ausências: </div>
												<div class="ui-g-3 ui-sm-3"><b>{{rowData.ausenciaRemanescente}}</b></div>
											</div>
										</div>
									</div>
								</ng-template>
							</p-dataView>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
</div>