<ss-estatistica 
	(cbxExtensaoDaFaixaDeConcursosAtualizeOutput)="cbxExtensaoDaFaixaDeConcursosAtualize($event)"
	(rgeFaixaDeConcursosAtualizeOutput)="rgeFaixaDeConcursosAtualize($event)"
	(rgeDesloqueParaEsquerdaOutput)="rgeDesloqueParaEsquerda($event)"
	(rgeDesloqueParaDireitaOutput)="rgeDesloqueParaDireita($event)"
	(rgeDesloqueParaEsquerdaEFCOutput)="rgeDesloqueParaEsquerdaEFC($event)"
	(rgeDesloqueParaDireitaEFCOutput)="rgeDesloqueParaDireitaEFC($event)"
	(toggleMostreMaisEstatisticasOutput)="toggleMostreMaisEstatisticas($event)"
	(atualizeOGraficoOutput)="atualizeOGrafico($event)"
	(selecioneDezenaOutput)="selecioneDezena($event)"></ss-estatistica>

<div [ngClass]="['matriz_de_dezenas_'+ sufixoCssLoteria]" class="margem-automatica">
	<button ion-button [ngClass]="{dezena_destacada: destaqueDezena(dezena)}" class="botao-da-matriz-dezenas" [attr.id]="'bt'+ dezena" *ngFor="let dezena of dezenas; let iDezena = index" (click)="selecioneDezena(iDezena, rdSorteios)">
		{{dezena}}
	</button>
</div>

<div class="espaco_vertical"></div>

<div class="margem-automatica centralizar-texto">
	<button ion-button id="btnAtualizarOGrafico" (click)="atualizeOGrafico(rdSorteios)">
		Atualizar o Gráfico
	</button>
</div>

<div class="espaco_vertical"></div>

<div class="select-largura-maxima margem-automatica">
	<ion-list>
		<ion-item class="fundo-componente">
			<ion-label color="primary">Mais estatísticas</ion-label>
			<ion-toggle (ionChange)="toggleMostreMaisEstatisticas($event)"></ion-toggle>
		</ion-item>
	</ion-list>
</div>

<div *ngIf="toggleMostrarMaisEstatisticasChecked">
	<ion-list>
		<ion-list-header color="cabecalho">
			<strong color="primary">Frequência das dezenas<span *ngIf="isDuplasena"> do sorteio {{rdSorteios + 1}}</span></strong>
		</ion-list-header>
		
		<ion-item>
			<div class="container-tabela margem-automatica">
				<table [mfData]="frequenciasSorteio" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
					<tr>
						<th>
							<mfDefaultSorter by="dezena">Dezena</mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="frequenciaTotal">Frequência total</mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="ausenciaTotal">Ausência total</mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="acumuloRemanescente">Acúmulo remanescente</mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="ausenciaRemanescente">Ausência remanescente</mfDefaultSorter>
						</th>
					</tr>

					<tr *ngFor="let item of mf.data">
						<td class="selecionavel">{{item.dezena}}</td>
						<td class="selecionavel">{{item.frequenciaTotal}}</td>
						<td class="selecionavel">{{item.ausenciaTotal}}</td>
						<td class="selecionavel">{{item.acumuloRemanescente}}</td>
						<td class="selecionavel">{{item.ausenciaRemanescente}}</td>
					</tr>
					<tr>
						<td colspan="2">
							<mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
						</td>
                	</tr>
				</table>
			</div>
		</ion-item>
	</ion-list>
</div>