<ss-estatistica 
	(cbxExtensaoDaFaixaDeConcursosAtualizeOutput)="cbxExtensaoDaFaixaDeConcursosAtualize($event)"
	(rgeFaixaDeConcursosAtualizeOutput)="rgeFaixaDeConcursosAtualize($event)"
	(rgeDesloqueParaEsquerdaOutput)="rgeDesloqueParaEsquerda($event)"
	(rgeDesloqueParaDireitaOutput)="rgeDesloqueParaDireita($event)"
	(rgeDesloqueParaEsquerdaEFCOutput)="rgeDesloqueParaEsquerdaEFC($event)"
	(rgeDesloqueParaDireitaEFCOutput)="rgeDesloqueParaDireitaEFC($event)"
	(toggleMostreMaisEstatisticasOutput)="toggleMostreMaisEstatisticas($event)"
	(atualizeOGraficoOutput)="atualizeOGrafico($event)"
	(selecioneDezenaOutput)="selecioneDezena($event)"></ss-estatistica>

<div class="margem-automatica centralizar-texto">
	<button ion-button id="btnAtualizarOGrafico" (click)="atualizeOGrafico(rdSorteios)">
		Atualizar o Gráfico
	</button>
</div>

<div class="espaco_vertical"></div>

<div class="select-largura-maxima margem-automatica">
	<ion-list>
		<ion-item class="fundo-componente">
			<ion-label color="primary">Mais estatísticas</ion-label>
			<ion-toggle (ionChange)="toggleMostreMaisEstatisticas($event)"></ion-toggle>
		</ion-item>
	</ion-list>
</div>

<div *ngIf="toggleMostrarMaisEstatisticasChecked">
	<ion-list>
		<ion-list-header color="cabecalho">
			<strong color="primary">Soma das dezenas em cada concurso<span *ngIf="isDuplasena"> do sorteio {{rdSorteios + 1}}</span></strong>
		</ion-list-header>
		
		<ion-item>
			<div class="container-tabela margem-automatica">
				<p-table [columns]="colsSomaDasDezenasEmCadaConcurso" [value]="somaDasDezenasEmCadaConcurso" [paginator]="true" [rows]="15" [responsive]="true" sortField="ausenciaTotal">
					<ng-template pTemplate="header" let-colunas>
						<tr>
							<th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.campo">
								{{coluna.nome}}
								<p-sortIcon [field]="coluna.campo"></p-sortIcon>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-colunas="columns">
						<tr>
							<td *ngFor="let coluna of colunas">
								<span class="ui-column-title">{{coluna.nome}}</span>
								{{rowData[coluna.campo]}}
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="footer">
						<tr>
							<td>Média das somas</td>
							<td>{{mediaDaSomaDasDezenasEmCadaConcurso | number:'1.'}}</td>
							<td></td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header color="cabecalho">
			<strong color="primary">Quantidades de somas<span *ngIf="isDuplasena"> do sorteio {{rdSorteios + 1}}</span></strong>
		</ion-list-header>
		
		<ion-item>
			<div class="container-tabela margem-automatica">
				<p-table [columns]="colsQuantidadesDeSomas" [value]="somaDasDezenasEmCadaConcurso" [paginator]="true" [rows]="15" [responsive]="true" sortField="ausenciaTotal">
					<ng-template pTemplate="header" let-colunas>
						<tr>
							<th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.campo">
								{{coluna.nome}}
								<p-sortIcon [field]="coluna.campo"></p-sortIcon>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-colunas="columns">
						<tr>
							<td *ngFor="let coluna of colunas">
								<span class="ui-column-title">{{coluna.nome}}</span>
								{{rowData[coluna.campo]}}
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</ion-item>
	</ion-list>
</div>