<ags-estatistica 
	(cbxExtensaoDaFaixaDeConcursosAtualizeOutput)="cbxExtensaoDaFaixaDeConcursosAtualize($event)"
	(rgeFaixaDeConcursosAtualizeOutput)="rgeFaixaDeConcursosAtualize($event)"
	(rgeDesloqueParaEsquerdaOutput)="rgeDesloqueParaEsquerda($event)"
	(rgeDesloqueParaDireitaOutput)="rgeDesloqueParaDireita($event)"
	(rgeDesloqueParaEsquerdaEFCOutput)="rgeDesloqueParaEsquerdaEFC($event)"
	(rgeDesloqueParaDireitaEFCOutput)="rgeDesloqueParaDireitaEFC($event)"
	(toggleMostreMaisEstatisticasOutput)="toggleMostreMaisEstatisticas($event)"
	(atualizeOGraficoOutput)="atualizeOGrafico($event)"
	(selecioneDezenaOutput)="selecioneDezena($event)"></ags-estatistica>

<div class="margem-automatica centralizar-texto">
	<button ion-button id="btnAtualizarOGrafico" (click)="atualizeOGrafico(rdSorteios)">
		Atualizar o Gráfico
	</button>
</div>

<div class="espaco_vertical"></div>

<div class="select-largura-maxima margem-automatica">
	<ion-list>
		<ion-item class="fundo-componente">
			<ion-label color="primary">Mais estatísticas</ion-label>
			<ion-toggle (ionChange)="toggleMostreMaisEstatisticas($event)"></ion-toggle>
		</ion-item>
	</ion-list>
</div>

<div *ngIf="toggleMostrarMaisEstatisticasChecked">
	<ion-list>
		<ion-list-header color="cabecalho">
			<strong color="primary">Soma das dezenas em cada concurso<span *ngIf="isDuplasena"> do sorteio {{rdSorteios + 1}}</span></strong>
		</ion-list-header>
		
		<ion-item>
			<div class="container-tabela margem-automatica">
				<table [mfData]="somaDasDezenasEmCadaConcurso" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
					<tr>
						<th class="selecionavel">
							<mfDefaultSorter by="concurso">Concurso</mfDefaultSorter>
						</th>
						<th class="selecionavel">
							<mfDefaultSorter by="soma">Soma</mfDefaultSorter>
						</th>
					</tr>

					<tr *ngFor="let item of mf.data">
						<td class="selecionavel">{{item.concurso}}</td>
						<td class="selecionavel">{{item.soma}}</td>
					</tr>
				</table>
				<div class="espaco_vertical"></div>
				<table class="container-tabela margem-automatica">
					<th colspan="2">
						Média da soma das dezenas em cada concurso
					</th>
					<tr>
						<td>Média</td>
						<td>{{mediaDaSomaDasDezenasEmCadaConcurso}}</td>
					</tr>
				</table>
			</div>
		</ion-item>
	</ion-list>
</div>