pagina-resultado {
	p {
		padding-top: 8px;
	}

	.resultado {
		font-family: sans-serif;
		font-size: 28pt;
		font-weight: bold;
	}

	.palavra-destacada {
		color: #4f5355;
		font-size: 16pt;
	}

	.coracao {
		font-size: 28pt;
	}

	.time-coracao, .mes-sorte {
		font-size: 14pt;
	}

	.texto {
		color: #4f5355;
		font-size: 11pt !important;
		text-transform: none !important;
		margin-top: 10px;
		text-align: center;
	}

	.margem-superior {
		margin-top: 40px!important;
	}

	.sem-margem-esquerda {
		margin-left: 0!important;
	}
	
	.botao-da-matriz-dezenas {
		// width: 42px;
		// height: 42px;
		// font-size: 14pt;
		width: 36px;
		height: 36px;
		font-size: 12pt;
		margin: 5px;
		padding: 0 !important;
	}

	.dezenas-sorteadas {
		max-width: 260px;
	}

	th, td {
		text-align: left;
	}

	tr:nth-child(even){
		background-color: #eee
	}

	tr:hover {
		background-color: #ccc
	}

	.centralize {
		text-align: center;
		margin: 0 auto;
	}

	ion-range {
		padding-top: 20px!important;
	}
}
