<ss-navbar [tituloInput]="titulo"></ss-navbar>

<ion-content>
	<div [ngClass]="'conteudo'">
		<ion-grid>
			<ion-row>
				<ion-col col-sm-10 offset-sm-1 col-md-4 offset-md-4 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4>
					<div [ngClass]="['resultado','titulo','centralize']">
						Resultado
					</div>
					<p [ngClass]="['palavra-destacada','centralize']">
						concurso {{numeroDoConcurso | number:'3.'}}
					</p>
					<p [ngClass]="['palavra-destacada','centralize']">
						{{dataDoSorteio}}
					</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-sm-10 offset-sm-1 col-md-4 offset-md-4 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4>
					<div *ngIf="exibeDezenasComQuebraDeLinha">
						<div [ngClass]="['centralize', 'dezenas-sorteadas']">
							<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]" title="Dezena {{dezena}} sorteada">
								{{dezena}}
							</button>
						</div>
					</div>
					<div [ngClass]="'centralize'" *ngIf="!exibeDezenasComQuebraDeLinha && !exibeDezenasSorteio2DuplaSena">
						<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]" title="Dezena {{dezena}} sorteada">
							{{dezena}}
						</button>
					</div>
					<div [ngClass]="'centralize'">
						<div [ngClass]="['texto']" *ngIf="exibeTimeDoCoracao" >Time do Coração:</div>
						<button ion-button icon-left clear *ngIf="exibeTimeDoCoracao" [ngClass]="['colorEscuro'+ sufixoCssLoteriaSelecionada]" title="Time do coração {{timeDoCoracao}} sorteado">
							<ion-icon class="coracao" name="heart"></ion-icon>
							<span class="time-coracao">{{timeDoCoracao}}</span>
						</button>
						
						<div [ngClass]="['texto']" *ngIf="exibeMesDaSorte" >Mês da Sorte:</div>
						<button ion-button icon-left clear *ngIf="exibeMesDaSorte" [ngClass]="['colorEscuro'+ sufixoCssLoteriaSelecionada]" title="Mês da sorte {{mesDaSorte}} sorteado">
							<ion-icon class="coracao" name="calendar"></ion-icon>
							<span class="mes-sorte">{{mesDaSorte}}</span>
						</button>
					</div>
					<div [ngClass]="'centralize'" *ngIf="exibeDezenasSorteio2DuplaSena">
						<p [ngClass]="'texto'"><strong>Sorteio 1</strong></p>
						<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]"  title="Dezena {{dezena}} sorteada - Sorteio 1">
							{{dezena}}
						</button>
				
						<p [ngClass]="['texto']"><strong>Sorteio 2</strong></p>
						<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenasSorteio2; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]" title="Dezena {{dezena}} sorteada - Sorteio 2">
							{{dezena}}
						</button>
					</div>
				</ion-col>
			</ion-row>
			<ion-list [ngClass]="'margem-lateral'">
				<ion-list-header color="cabecalho">
					<strong [ngClass]="'titulo'">Seletor de concursos</strong>
				</ion-list-header>
	
				<ion-item>
					<ion-range [min]="rgeFaixaDeConcursosMin" [max]="rgeFaixaDeConcursosMax" [(ngModel)]="rgeFaixaDeConcursos" (ionChange)="rgeFaixaDeConcursosAtualize($event)" color="primary" pin="true" title="Range faixa de concursos">
						<ion-label range-left class="label-botao-controle-altura">
							<button ion-button id="idDeslocarParaEsquerda" class="sem-margem largura-botao-controle" (click)="rgeDesloqueParaEsquerda()" ion-button icon-only clear title="Botão Navega 1 concurso anterior">
								<ion-icon name="arrow-dropleft-circle"></ion-icon>
							</button>
						</ion-label>
						
						<ion-label range-right class="label-botao-controle-altura">
							<button ion-button id="idDeslocarParaEsquerda" class="sem-margem largura-botao-controle" (click)="rgeDesloqueParaDireita()" ion-button icon-only clear title="Botão Navega 1 concurso posterior">
								<ion-icon name="arrow-dropright-circle"></ion-icon>
							</button>
						</ion-label>
					</ion-range>
				</ion-item>
			</ion-list>
			<ion-row>
				<ion-col col-sm-10 offset-sm-1 col-md-4 offset-md-4 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4>
					<div [ngClass]="['texto']" *ngIf="valorDoPremioPrincipal != 0">
						<strong [ngClass]="'palavra-destacada'">{{valorDoPremioPrincipal | currency:'BRL':true}}</strong> 
						para 
						<strong [ngClass]="'palavra-destacada'">{{numeroDeGanhadoresDoPremioPrincipal}} ganhador<strong *ngIf="numeroDeGanhadoresDoPremioPrincipal > 1">es</strong></strong>
					</div>
					
					<div [ngClass]="['texto']" *ngIf="valorDoPremioPrincipal === 0 && acumuladoParaOProximoConcurso !== 0">
						<strong [ngClass]="'palavra-destacada'">ACUMULOU! {{acumuladoParaOProximoConcurso | currency:'BRL':true}}</strong>
					</div>
					<div [ngClass]="['texto']">
						<p>Estimativa de prêmio para o próximo concurso:</p>
						<strong>{{estimativaDePremioParaOProximoConcurso | currency:'BRL':true}}</strong>
					</div>
					<div [ngClass]="['texto']" *ngIf="exibeAcumuladoEspecial">
						<p>{{labelAcumuladoEspecial}}:</p>
						<strong>{{acumuladoEspecial | currency:'BRL':true}}</strong>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div [ngClass]="'margem-lateral'" *ngFor="let sorteio of sorteios; let iSorteio = index">
			<ion-list>
				<ion-list-header color="cabecalho">
					<strong [ngClass]="'titulo'">Rateios <span *ngIf="exibeDezenasSorteio2DuplaSena">do sorteio {{iSorteio + 1}}</span></strong>
				</ion-list-header>
				
				<ion-item>
					<ion-grid>
						<ion-row>
							<ion-col col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3>
								<div class="container-tabela margem-automatica">
									<p-table [columns]="colsRateio" [value]="sorteio.rateios" [responsive]="true" [style]="{'max-width':'500px','margin':'0 auto'}" title="Tabela Rateios">
										<ng-template pTemplate="caption">
											<span style="color: #003300!important">Rateios</span>
										</ng-template>
										<ng-template pTemplate="header" let-colunas>
											<tr>
												<th *ngFor="let coluna of colunas" title="Coluna {{coluna.nome}}">
													{{coluna.nome}}
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-rowData let-colunas="columns">
											<tr>
												<td *ngFor="let coluna of colunas">
													<span class="ui-column-title">{{coluna.nome}}:</span>
													<span *ngIf="coluna.campo !== 'rateio'">{{rowData[coluna.campo]}}</span>
													<span *ngIf="coluna.campo === 'rateio'">{{rowData[coluna.campo] | currency:'BRL':true}}</span>
												</td>
											</tr>
										</ng-template>
									</p-table>
									<div class="espaco_vertical"></div>
									<div *ngFor="let rateio of sorteio.rateios">
										<p-table  *ngIf="rateio.qtdCidadesUfs.length > 0" [columns]="colsGanhadores" [value]="rateio.qtdCidadesUfs" [responsive]="true" [style]="{'max-width':'500px','margin':'0 auto'}" title="Tabela Ganhadores do prêmio {{rateio.tipoDePremio}}">
											<ng-template pTemplate="caption">
												<span style="color: #003300!important">Ganhadores do prêmio {{rateio.tipoDePremio}}</span>
											</ng-template>
											<ng-template pTemplate="header" let-colunas>
												<tr>
													<th *ngFor="let coluna of colunas" [style.width]="coluna.width" title="Coluna {{coluna.nome}}">
														{{coluna.nome}}
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-rowData let-colunas="columns">
												<tr>
													<td *ngFor="let coluna of colunas">
														<span class="ui-column-title">{{coluna.nome}}:</span>
														<span *ngIf="coluna.campo === 'qtd'">{{rowData[coluna.campo]}}</span>
														<div *ngIf="coluna.campo !== 'qtd'" style="word-wrap: break-word">{{rowData[coluna.campo]}}</div>
													</td>
												</tr>
											</ng-template>
										</p-table>
									</div>
								</div>						
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</div>

		<div [ngClass]="'margem-lateral'" *ngFor="let estatisticas of estatisticasDosSorteios; let iDezena = index">
			<ion-list>
				<ion-list-header color="cabecalho">
					<strong [ngClass]="'titulo'">Frequência total das dezenas <span *ngIf="exibeDezenasSorteio2DuplaSena">do sorteio {{iDezena + 1}}</span></strong>
				</ion-list-header>
				
				<ion-item>
					<ion-grid>
						<ion-row>
							<ion-col col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4>
								<!-- <div class="container-tabela margem-automatica"> -->
								<div>
									<!-- <p-table [columns]="colsEstatisticas" [value]="estatisticas" [paginator]="true" [rows]="15" [responsive]="true" sortField="dezena" [style]="{'max-width':'400px','margin':'0 auto'}">
										<ng-template pTemplate="header" let-colunas>
											<tr>
											<th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.campo">
													{{coluna.nome}}
													<p-sortIcon [field]="coluna.campo"></p-sortIcon>
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-rowData let-colunas="columns">
											<tr>
												<td *ngFor="let coluna of colunas">
													<span class="ui-column-title">{{coluna.nome}}</span>
													<span *ngIf="coluna.campo !== 'frequenciaTotalPorCento'">{{rowData[coluna.campo]}}</span>
													<span *ngIf="coluna.campo === 'frequenciaTotalPorCento'">{{rowData[coluna.campo] | number:'1.1-2'}}%</span>
												</td>
											</tr>
										</ng-template>
									</p-table> -->
									<p-dataView #dv [value]="estatisticas" [paginator]="true" [rows]="15" paginatorPosition="both" filterBy="dezena" [sortField]="sortField" [sortOrder]="sortOrder" title="Cartões Frequência total das dezenas">
										<p-header>
											<div [ngClass]="['caption-data-view','cor-primaria']">Frequência total das dezenas desde o concurso:<br>1 até {{rgeFaixaDeConcursos}}</div>
											<div class="ui-helper-clearfix">
												<div class="ui-g">
													<div class="ui-g-12">
														<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordene por" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'50px'}" title="Caixa de seleção de Tipo de Ordenamento"></p-dropdown>
													</div>
													<div class="ui-g-6 filter-container">
														<div style="position:relative">
															<input type="search" pInputText placeholder="Pesquise dezena" (keyup)="dv.filter($event.target.value)" style="width:140px" title="Campo de pesquisa de dezena">
														</div>
													</div>
												</div>
											</div>
										</p-header>
										<ng-template let-rowData pTemplate="listItem">
											<div class="ui-g" style="padding: 10px;border-bottom: 1px solid #d9d9d9">
												<div class="ui-g-12 ui-md-3" style="text-align:center">
													<button [attr.id]="'bt'+ rowData.dezena" 
														ion-button round class="botao-da-matriz-dezenas"
														[ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]">
														{{rowData.dezena}}
													</button>
												</div>
												<div class="ui-g-12 ui-md-8">
													<div class="ui-g">
														<div class="ui-g-6 ui-sm-6">Dezena: </div>
														<div class="ui-g-6 ui-sm-6"><b>{{rowData.dezena}}</b></div>
									
														<div class="ui-g-6 ui-sm-6">Frequência: </div>
														<div class="ui-g-6 ui-sm-6"><b>{{rowData.frequenciaTotal}}</b></div>
									
														<div class="ui-g-6 ui-sm-6">Frequência %: </div>
														<div class="ui-g-6 ui-sm-6"><b>{{rowData.frequenciaTotalPorCento | number:'1.1-2'}}%</b></div>
													</div>
												</div>
											</div>
										</ng-template>
									</p-dataView>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</div>
		<ss-rodape></ss-rodape>
	</div>
</ion-content>