<div class="clear-alinhar-direita"></div>
<!--<div class="alinhar-direita">
	<table>
		<thead>
			<tr>
				<th class="selecionavel">Frequência total</th>
				<th class="selecionavel">Ausência total</th>
				<th class="selecionavel">Acúmulo remanescente</th>
				<th class="selecionavel">Ausência remanescente</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>{{frequenciaAbsolutaTotal}}</td>
				<td>{{ausenciaAbsolutaTotal}}</td>
				<td>{{acumuloRemanescente}}</td>
				<td>{{ausenciaRemanescente}}</td>
			</tr>
		</tbody>
	</table>
</div>-->
<div class="select-largura-maxima alinhar-direita">
	<ion-list [(ngModel)]="rdSorteios" *ngIf="isDuplasena" (ionChange)="atualizeOGrafico($event)" radio-group title="Seletor de sorteios">
		<ion-item>
			<ion-label>Sorteios 1</ion-label>
			<ion-radio value="0" checked="true" title="Opção Sorteio 1"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Sorteios 2</ion-label>
			<ion-radio value="1" title="Opção Sorteio 2"></ion-radio>
		</ion-item>
	</ion-list>
</div>
<!--<ion-searchbar [(ngModel)]="iptPesquisaDeAmostraFrequencia" (ionInput)="atualizePesquisaDeFrequencia($event)" (ionCancel)="cancelePesquisaDeAmostraDeFrequencia()" placeholder="Pesquise frequência, expl: 0,0,1,2,0"></ion-searchbar>-->

<!--<div *ngIf="exibirQuantidadeDeAmostrasDeFrequencia" class="row">
		<div class="col-md-7 col-lg-4"></div>
		<div class="col-md-5 col-lg-4 col-lg-offset-4">
			<div class="row">
				<div class="col-lg-12">
					<ion-card>
						<ion-card-content>
							<div class="card-subtitle alinha-texto-esquerda selecionavel">
								E.F.C: {{textoExtensaoDaFaixaDeConcursos}}<br> Qtd encontrada: {{textoQuantidadeDeAmostrasDeFrequencia}}<br> Previsão
								positiva: {{textoPrevisaoPositiva}}<br> Previsão negativa: {{textoPrevisaoNegativa}}<br>
							</div>
						</ion-card-content>
					</ion-card>
					<button ion-button block id="btnSalvarPesquisaDeAmostraFrequencia" (click)="salvePesquisaDeAmostraFrequencia()">
						Salvar
					</button>
				</div>
			</div>
		</div>
	</div>-->
<div class="clear-alinhar-direita"></div>
<div #grafico></div>

<div class="espaco_vertical"></div>

<div class="select-largura-maxima margem-automatica">
	<ion-list>
		<ion-item class="fundo-componente">
			<ion-label color="primary">Faixa de concursos:</ion-label>

			<ion-select [(ngModel)]="cbxExtensaoDaFaixaDeConcursos" (ionChange)="cbxExtensaoDaFaixaDeConcursosAtualize($event)" cancelText="Cancelar"
				okText="Confirmar" [ngClass]="'cor-terciaria'" title="Caixa de seleção de Faixa de concursos">
				<ion-option *ngFor="let extensao of extensoesDaFaixaDeConcursos" value="{{extensao.id}}">{{extensao.valor}}</ion-option>
				</ion-select>
		</ion-item>
	</ion-list>
</div>

<ion-list>
	<ion-list-header color="cabecalho">
		<strong [ngClass]="'titulo'">Seletor de faixa de concursos</strong>
	</ion-list-header>

	<ion-item>
		<ion-range [min]="rgeFaixaDeConcursosMin" [max]="rgeFaixaDeConcursosMax" [(ngModel)]="rgeFaixaDeConcursos" (ionChange)="rgeFaixaDeConcursosAtualize($event)" color="primary" pin="true" title="Range faixa de concursos">
			<ion-label range-left>
				<div class="label-botao-controle-largura">
					<button id="idDeslocarParaEsquerdaEFC" class="sem-margem" (click)="rgeDesloqueParaEsquerdaEFC($event)" ion-button icon-only clear title="Botão Navega {{cbxExtensaoDaFaixaDeConcursos}} concursos anteriores">
						<ion-icon name="rewind"></ion-icon>
					</button>
					
					<button id="idDeslocarParaEsquerda" class="sem-margem" (click)="rgeDesloqueParaEsquerda($event)" ion-button icon-only clear title="Botão Navega 1 concurso anterior">
						<ion-icon name="arrow-dropleft-circle"></ion-icon>
					</button>
				</div>
			</ion-label>
			
			<ion-label range-right>
				<div class="label-botao-controle-largura">
					<button id="idDeslocarParaEsquerda" class="sem-margem" (click)="rgeDesloqueParaDireita($event)" ion-button icon-only clear title="Botão Navega 1 concurso posterior">
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</button>
					
					<button id="idDeslocarParaEsquerdaEFC" class="sem-margem" (click)="rgeDesloqueParaDireitaEFC($event)" ion-button icon-only clear title="Botão Navega {{cbxExtensaoDaFaixaDeConcursos}} concursos posteiores">
						<ion-icon name="fastforward"></ion-icon>
					</button>
				</div>
			</ion-label>
		</ion-range>
	</ion-item>
	<ion-item></ion-item>
</ion-list>

<!--
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
			<ion-card>
				<ion-card-content>
					<div class="card-subtitle">
						Exibido no gráfico do concurso {{numeroDoConcursoInicial}} ao concurso {{numeroDoConcursoFinal}}
					</div>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
	-->

<!--<div *ngIf="exibirPesquisasDeAmostraFrequencia">
	<table>
		<thead>
			<tr>
				<th class="selecionavel">Dezena</th>
				<th class="selecionavel">E.F.C.</th>
				<th class="selecionavel">Freq. encontradas</th>
				<th class="selecionavel">Freq. encontradas com previsão positiva</th>
				<th class="selecionavel">Freq. encontradas com previsão negativa</th>
				<th class="selecionavel">Freq. pesquisada</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let pesquisaDeAmostraDeFrequencia of pesquisasDeAmostraFrequencia; let iPesquisaDeAmostraDeFrequencia = index">
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.dezena}}</td>
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.extensaoDaFaixaDeConcurso}}</td>
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.amostrasDeFrequenciasEncontrada}}</td>
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.previsaoPositiva}}</td>
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.previsaoNegativa}}</td>
				<td class="selecionavel">{{pesquisaDeAmostraDeFrequencia.amostrasDeFrequenciasPesquisada}}</td>
				<td><button (click)="excluaPesquisaDeAmostraDeFrequencia(iPesquisaDeAmostraDeFrequencia)" ion-button icon-only clear><ion-icon name="close-circle"></ion-icon></button></td>
			</tr>
		</tbody>
	</table>
</div>-->