<ags-navbar [tituloInput]="titulo"></ags-navbar>

<ion-content padding>
	<div>
		<h2 class="resultado" color="texto">Resultado
			<span class="palavra-destacada">concurso {{numeroDoConcurso | number:'3.'}} - {{dataDoSorteio}}</span>
		</h2>
	</div>

	<div *ngIf="exibeDezenasComQuebraDeLinha">
		<div class="dezenas-sorteadas">
			<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]">
				{{dezena}}
			</button>
		</div>
	</div>

	<div *ngIf="!exibeDezenasComQuebraDeLinha && !exibeDezenasSorteio2DuplaSena">
		<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]">
			{{dezena}}
		</button>

		<button ion-button icon-left clear *ngIf="exibeTimeDoCoracao" [ngClass]="['colorEscuro'+ sufixoCssLoteriaSelecionada]">
			<ion-icon class="coracao" name="heart"></ion-icon>
			<span class="time-coracao">{{timeDoCoracao}}</span>
		</button>
	</div>

	<div *ngIf="exibeDezenasSorteio2DuplaSena">
		<p class="texto" color="texto"><strong>Sorteio 1</strong></p>
		<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenas; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]">
			{{dezena}}
		</button>

		<p class="texto" color="texto"><strong>Sorteio 2</strong></p>
		<button [attr.id]="'bt'+ dezena" ion-button round class="botao-da-matriz-dezenas" *ngFor="let dezena of dezenasSorteio2; let iDezena = index" [ngClass]="['backgroundEscuro'+ sufixoCssLoteriaSelecionada]">
			{{dezena}}
		</button>
	</div>

	<p color="texto" *ngIf="valorDoPremioPrincipal != 0">
		<span class="palavra-destacada">{{valorDoPremioPrincipal | currency:'BRL':true}}</span> para <span class="palavra-destacada">{{numeroDeGanhadoresDoPremioPrincipal}} ganhador<span *ngIf="numeroDeGanhadoresDoPremioPrincipal > 1">es</span></span>
	</p>

	<p color="texto" *ngIf="valorDoPremioPrincipal == 0"><span class="palavra-destacada">ACUMULOU! {{acumuladoParaOProximoConcurso | currency:'BRL':true}}</span></p>
	<p color="texto"><strong>{{estimativaDePremioParaOProximoConcurso | currency:'BRL':true}}</strong> (Estimativa de prêmio para o próximo concurso)</p>
	<p color="texto" *ngIf="exibeAcumuladoEspecial"><strong>{{acumuladoEspecial | currency:'BRL':true}}</strong> ({{labelAcumuladoEspecial}})</p>

	<ion-list>
		<ion-list-header color="cabecalho">
			<strong color="primary">Seletor de concursos</strong>
		</ion-list-header>

		<ion-item>
			<ion-range [min]="rgeFaixaDeConcursosMin" [max]="rgeFaixaDeConcursosMax" [(ngModel)]="rgeFaixaDeConcursos" (ionChange)="rgeFaixaDeConcursosAtualize($event)" color="primary" pin="true">
				<ion-label range-left class="label-botao-controle-altura">
					<button ion-button id="idDeslocarParaEsquerda" class="sem-margem largura-botao-controle" (click)="rgeDesloqueParaEsquerda()" ion-button icon-only clear>
						<ion-icon name="arrow-dropleft-circle"></ion-icon>
					</button>
				</ion-label>
				
				<ion-label range-right class="label-botao-controle-altura">
					<button ion-button id="idDeslocarParaEsquerda" class="sem-margem largura-botao-controle" (click)="rgeDesloqueParaDireita()" ion-button icon-only clear>
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</button>
				</ion-label>
			</ion-range>
		</ion-item>
	</ion-list>

	<div *ngFor="let sorteio of sorteios; let iSorteio = index">
		<ion-list>
			<ion-list-header color="cabecalho">
				<strong color="primary">Rateios <span *ngIf="exibeDezenasSorteio2DuplaSena">do sorteio {{iSorteio + 1}}</span></strong>
			</ion-list-header>
			
			<ion-item>
				<div class="container-tabela">
					<table [mfData]="sorteio.rateios" #mfRateios="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tr>
							<th><mfDefaultSorter by="tipoDePremio">Tipo</mfDefaultSorter></th>
							<th><mfDefaultSorter by="numeroDeGanhadores">Ganhadores</mfDefaultSorter></th>
							<th><mfDefaultSorter by="rateio">Valor do rateio</mfDefaultSorter></th>
						</tr>

						<tr *ngFor="let rateio of mfRateios.data; let iRateio = index">
							<td class="selecionavel">{{rateio.tipoDePremio}}</td>
							<td class="selecionavel">{{rateio.numeroDeGanhadores}}</td>
							<td class="selecionavel">{{rateio.rateio | currency:'BRL':true}}</td>
						</tr>
					</table>
					<div class="espaco_vertical"></div>
					<table *ngIf="exibeGanhadoresDoPremioPrincipal && iSorteio < 1">
						<tr>
							<th colspan="3">Ganhadores do prêmio {{tipoDoPremioPrincipal}}</th>
						</tr>
						
						<tr>
							<th>Ganhadores</th>
							<th colspan="2">Cidades/UF</th>
						</tr>
							
						<tr *ngFor="let cidadeEEstadoDoGanhador of cidadesEEstadosDosGanhadoresDoPremioPrincipal">
							<td class="selecionavel">{{cidadeEEstadoDoGanhador.quantidade}}</td>
							<td colspan="2" class="selecionavel">{{cidadeEEstadoDoGanhador.nome}}</td>
						</tr>
					</table>
				</div>
			</ion-item>
		</ion-list>
	</div>

	<div *ngFor="let estatisticas of estatisticasDosSorteios; let iDezena = index">
		<ion-list>
			<ion-list-header color="cabecalho">
				<strong color="primary">Frequência total das dezenas <span *ngIf="exibeDezenasSorteio2DuplaSena">do sorteio {{iDezena + 1}}</span></strong>
			</ion-list-header>
			
			<ion-item>
				<div class="container-tabela">
					<table [mfData]="estatisticas" #mfFrequenciaTotal="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tr>
							<th><mfDefaultSorter by="dezena">Dezena</mfDefaultSorter></th>
							<th><mfDefaultSorter by="frequencia">Frequência total</mfDefaultSorter></th>
							<th><mfDefaultSorter by="frequenciaPorCento">%</mfDefaultSorter></th>
						</tr>

						<tr *ngFor="let estatistica of mfFrequenciaTotal.data">
							<td class="selecionavel">{{estatistica.dezena}}</td>
							<td class="selecionavel">{{estatistica.frequencia}}</td>
							<td class="selecionavel">{{estatistica.frequenciaPorCento | number:'.2'}}%</td>
						</tr>
					</table>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
<ss-rodape></ss-rodape>